
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Bootstrap CSS -->
    <style>
        /* Center the form */
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed */
        }
        
    </style>
</head>
<body>
    
<div class="container">
    <div class="row center">
        <h1 style="color:blue;"><cite> A NEURAL IMAGE CAPTION GENERATOR </cite></h1>
        <H4 style="text-align: justify;">An application that generate caption for any uploded image in 9 different methods and provide which one is best caption.</H4>
        <h4 style="color:orangered;">
            Methods
            <br/><br/>
        <ul>
            <li>VGG16+LSTM</li>
            <li>Xception+LSTM</li>
            <li>Densnet+LSTM</li>
        </ul>
        <ul>
            <li>VGG16+GRU</li>
            <li>Xception+GRU</li>
            <li>Densnet+GRU</li>
        </ul>
        <ul>
            <li>VGG16+GRU+Attention</li>
            <li>Xception+GRU+Attention</li>
            <li>Densnet+GRU+Attention</li>
        </ul>
    </h4>
    
        <div class="col-md-6" style="float:left;padding-left: 15%;padding-right: 0;">
            <h4>Upload an Image to add to gallery</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Upload</button>

            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}